/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
*/

/* 
1. Vị trí 
2. Kích thước (width, height)
3. Màu sắc 
4. Kiểu dáng (Kiểu chữ, hình tròn, vuông,...)

*/
/* Reset CSS */

#main{
    background-image: linear-gradient(to bottom, rgba(247,247,246,0.8), rgba(61,188,217,0.1));
    overflow:hidden;
}

:root{
    /* For text */
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #b4b4b4;
    --color-vividblue: #0773eb;
    --color-brightviolet: #8a2be2;
    --color-yellow-alpha100: rgba(255, 245, 0, 100%);
    --color-light-vividblue-alpha50: rgba(7, 115, 235, 50%);
    --color-text-shadow: rgba(7, 115, 235, 100%);

    /* For background */
    --background-color-white: #fff;
    --background-color-black: #000;
    --background-color-gray: #b4b4b4;
    --background-color-verydarkblue: #1c1e21;
    --background-color-vividblue: #0773eb;
    --background-color-green-moss: #1c272d;
    --background-color-verylightgray: rgb(240, 240, 240);
    --background-color-gray-alpha100: rgb(180, 180, 180, 100%);
    --background-color-vividblue-alpha100: rgba(7, 115, 235, 100%);
    --background-color-light-vividblue-alpha50: rgba(7, 115, 235, 50%);
    --background-color-verydarkred-alpha70: rgba(43, 41, 41, 70%);

    /* For shadow */
    --background-shadow-color-black-alpha30: rgba(0, 0, 0, 30%);
    --background-shadow-color-black-alpha40: rgba(0, 0, 0, 40%);

    /* For border */
    --border-color-black: #000;
    --border-color-gray: #ccc;

    /* Website follow winter color design */
    
    --background-content: #585a59;
    --text-color-main: #f7f7f6;
    --text-color-sud: #ebebec;



}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Font Awesome 6 Duotone';
    scroll-behavior: smooth;
    font-size: 15px;
}

.clear{
    clear: both; 
}

.text-white{
    color: var(--color-white) !important;
    font-size: 40px;
}

.yellow-text{
    color: var(--color-yellow-alpha100) !important;
}

li{
    list-style: none !important;
}

a{
    text-decoration: none !important;
    color: inherit;
}

h3{
    font-family: "Georgia", serif;
    font-weight: 600;
}

h1{
    letter-spacing: 2px;
}

/* Khi sử dụng float thì thẻ cha sẽ không ôm được những thẻ con */
/* lúc này ta sử dụng CSS selecter clear để fix và đặt thẻ dưới cuối thẻ cha */
.clear{
    clear: both; 
}

/* Tạo Css cho header */

#header{
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: var(--background-color-verydarkblue);
    box-shadow: 0 0 10px var(--background-shadow-color-black-alpha30);
    overflow: hidden;
    z-index: 10;
}

#nav{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav li{
    display: inline-block;
    position: relative;
}

#nav .nav-slipt{
    width: 2px;
    height: 36px;
    background-color: var(--background-color-white);
    margin: 0 10px 0 10px;
}

#nav li a{
    text-decoration: none;
    font-size: 18px;
    color: var(--color-white);
    text-transform: uppercase;
    line-height: 56px;
    padding: 0 20px;
}

#nav li:hover{
    background-color: var(--background-color-gray);
    border-radius: 4px;
}

#nav li:hover a{
    color: var(--color-black);
}

/* Phần slider */
#intro{
    margin-top: 56px;
    padding-top: 50%;
    background: 
        url('../img/slider3.png') top center / cover no-repeat,
        url('../img/slider2.png') top center / cover no-repeat,
        url('../img/slider1.png') top center / cover no-repeat;
    background-color: var(--background-color-verylightgray);
    display: flex;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
}

#intro .arrow-slider-left{
    position: absolute;
    left: 0;
    top: 40%;
    border-radius: 0 10px 10px 0;
    padding: 40px 20px;
    background-color: var(--background-color-light-vividblue-alpha50);
}

#intro .arrow-slider-right{
    position: absolute;
    right: 0;
    top: 40%;
    border-radius: 10px 0px 0 10px;
    padding: 40px 20px;
    background-color: var(--background-color-light-vividblue-alpha50);
}

#intro .heading-intro{
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;

    position: absolute;
    top: 0;
    bottom: 0;

    /* Cách cho content vô giữa */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.heading-intro .search-intro{
    padding: 20px;
    border: 1px solid var(--border-color-gray);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    background-color: var(--background-color-verydarkred-alpha70);
}

.search-intro .input-search{
    margin-left: 20px;
    margin-right: 10px;
    height: 40px;
    width: 600px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid var(--border-color-gray);
}

.heading-intro .search-intro-slipt{
    width: 2px;
    height: 40px;
    background-color: var(--background-color-white);
    margin: 0 10px 0 10px;
}

.heading-intro .btn-search{
    width: 200px;
    height: 40px;
    margin-left: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-vividblue);
}

.heading-intro a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}



#intro .slipt-intro{
    width: 100%;
    height:  2px;
    margin: 10px;
    background-color: var(--background-color-gray);
}

/* Phần Content */

#content{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content .content-section{
    width: 1200px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #bbe2f2;
    background-color: var(--background-color-white);
    box-shadow: 0 10px 10px var(--background-shadow-color-black-alpha30);
}

.content-section .tab-new-content{
    display: flex;
    border-bottom: 1px solid #bbe2f2;
}

.tab-new-content button{
    background-color: transparent;
    border: none;
    color: var(--color-black);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
}

.tab-new-content button:hover{
    cursor: pointer;
}

.tab-new-content button.active{
    color: var(--color-vividblue);
}

.tab-new-content button.active a{
    opacity: 1;
    visibility: visible;
}

.tab-new-content a{
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--background-color-vividblue);
    visibility: hidden;
}

.tabcontent{
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

#valkyrie .content-wrap{
    display: flex;
}

#valkyrie .the-first-content{
    flex: 1;
    margin-top: 10px;
}


#valkyrie .the-second-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 20px;
}

.the-second-content .the-main-one{
    flex: 1;
    display: flex;
}

.the-second-content .the-main-one .the-sub-one{
    flex: 1;
    margin-right: 10px;
    margin-bottom: 10px;
}

.the-second-content .the-main-one .the-sub-two{
    flex: 1;
    margin-bottom: 10px;
}

.the-second-content .the-main-two{
    flex: 1;
    display: flex;
}

.the-second-content .the-main-two .the-sub-three{
    flex: 1;
    margin-right: 10px;
}

.the-second-content .the-main-two .the-sub-four{
    flex: 1;  
}

.the-first-content .img-vkr{
    width: 100%;
    padding-top: 100%;
    border-radius: 5px 5px 0 0;
    background: 
        url('../img/HOF.png') top center / cover no-repeat, 
        url('../img/background-vkr.jpg') top center / cover no-repeat;
}

.the-sub-one .img-vkr{
    width: 100%;
    padding-top: 100%;
    border-radius: 5px 5px 0 0;
    background-color: var(--background-color-verylightgray);
    background: 
        url('../img/HOT.png') top center / cover no-repeat, 
        url('../img/background-vkr.jpg') center / cover no-repeat;
}

.the-sub-two .img-vkr{
    width: 100%;
    padding-top: 100%;
    border-radius: 5px 5px 0 0;
    background-color: var(--background-color-verylightgray);
    background: 
        url('../img/HOS.png') top center / cover no-repeat, 
        url('../img/background-vkr.jpg') top center / cover no-repeat;
}

.the-sub-three .img-vkr{
    width: 100%;
    padding-top: 100%;
    border-radius: 5px 5px 0 0;
    background-color: var(--background-color-verylightgray);
    background: 
        url('../img/HOR.png') top center / cover no-repeat, 
        url('../img/background-vkr.jpg') top center / cover no-repeat;
}

.the-sub-four .img-vkr{
    width: 100%;
    padding-top: 100%;
    border-radius: 5px 5px 0 0;
    background-color: var(--background-color-verylightgray);
    background: 
        url('../img/selee2.png') top center / cover no-repeat, 
        url('../img/background-vkr.jpg') top center / cover no-repeat;
}

#valkyrie .the-third-content{
    flex: 1;
    justify-content: flex-end;
    display: flex;
}

#valkyrie .the-first-content:hover{
    box-shadow: 0 10px 10px var(--background-shadow-color-black-alpha30);
    cursor: pointer;
}

#valkyrie .the-sub-one:hover{
    box-shadow: 0 10px 10px var(--background-shadow-color-black-alpha30);
    cursor: pointer;
}

#valkyrie .the-sub-two:hover{
    box-shadow: 0 10px 10px var(--background-shadow-color-black-alpha30);
    cursor: pointer;
}

#valkyrie .the-sub-three:hover{
    box-shadow: 0 10px 10px var(--background-shadow-color-black-alpha30);
    cursor: pointer;
}

#valkyrie .the-sub-four:hover{
    box-shadow: 0 10px 10px var(--background-shadow-color-black-alpha30);
    cursor: pointer;
}

#valkyrie .body-new-valkyrie{
    padding: 10px;
}

#valkyrie .heading-new-valkyrie{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #bbe2f2;
}

#valkyrie .time-new-valkyrie{
    opacity: 0.6;
    padding: 10px 0;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#valkyrie .rare-valkyrie{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
   
}

#valkyrie .desc-new-valkyrie{
    padding: 10px 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#stigma .content-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding-top: 115px;
    padding-bottom: 10px;
    background-image: url(../img/background-new-stig.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#stigma .stigma-content{
    width: 450px;
    height: auto;
    margin-bottom: 12px;
    border-radius: 5px 5px 0 0;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(187,226,242,0), rgba(61,188,217,1));
}

#stigma .heading-new-stigma{
    margin-top: 20px;
}

#stigma .heading-sub-new-stigma{
    margin-top: 10px;
}

#stigma .rare-stigma{
    margin-top: 10px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color-black);
}

#stigma .img-stigma-content,
.position-stigma-content{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

#stigma .img-stigma:hover{
    box-shadow: 0 10px 10px var(--background-shadow-color-black-alpha30);
    cursor: pointer;
}

#weapon .content-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding-top: 114px;
    padding-bottom: 10px;
    background-image: url(../img/background-new-stig.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#weapon .weapon-content{
    display: flex;
    flex-direction: row;
    width: 555px;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid var(--border-color-gray);
}

.weapon-content .the-first-main-weapon-content{
    flex: 1;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--border-color-gray);
}

.weapon-content .the-second-main-weapon-content{
    flex: 2;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color-gray);
}

.weapon-content .the-first-sub-weapon-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: #565656;
    color: #bbe2f2;
    border: 1px solid var(--border-color-gray);
}

.weapon-content .name-weapon{
    padding: 20px 0;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.weapon-content .atk-weapon{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.weapon-content .atk-weapon .heading-atk-weapon{
    margin-bottom: 10px;
    font-weight: bold;
    
}

.weapon-content .crit-weapon{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.weapon-content .crit-weapon .heading-crit-weapon{
    margin-bottom: 10px;
    font-weight: bold;
}

.weapon-content .rarity-weapon{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.weapon-content .rarity-weapon .heading-rarity-weapon{
    margin-bottom: 10px;
    font-weight: bold;
}

.weapon-content .the-second-sub-weapon-content{
    padding: 5px;
    text-align: justify;
    line-height: 1.4;
}


#top-builder .content-wrap{
    width: 100%;
    height: 808px;
}

/* Modal overlay 1 */
.modal{
    position: fixed;
    right: 0;
    top: 56px;
    bottom: 0;
    box-shadow: var(--background-shadow-color-black-alpha30);
}

.open{
    display: flex;
    
}

/* Build Chat box */
.modal .modal-container{
    position: fixed;
    height: 100%;
    width: 331px;
    right: 0;
    top: 56px;
    bottom: 0;
    /* animation: modalFadein ease 1s; */
    transition: transform ease-in-out 0.4s;
    transform: translateX(100%);
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 -2px 20px var(--background-shadow-color-black-alpha30);
}

.modal .title-heading-chatbox{
    padding: 10px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: var(--background-color-vividblue);
    border-bottom: 1px solid var(--border-color-gray);
    box-shadow: var(--background-shadow-color-black-alpha30);
}

.modal .close-btn{
    cursor: pointer;
    
}

.modal .chatbox-wrap{
    overflow: scroll;
    position: absolute;
    top: 49px;
    bottom: 184px;
    left: 0;
    right: 0;
}

.modal .chat-box-area{
    padding: 5px 5px;
    display: flex;
    flex-direction: row;
}

.modal .avatar-user{
    flex: 1;
    padding: 0 5px;
}

.modal .avatar-user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.modal .chat-content{
    flex: 5;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #EFF1F5;
}

.modal .user-contain{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.modal .chat-content .username{
    color: var(--background-color-white);
    text-shadow: 0 0 6px var(--color-text-shadow);
    font-weight: bold;
}

.modal .chat-content .timezone{
    font-size: 12px;
}

.modal .display-chat{
    font-family: 'Times New Roman', Times, serif;
    flex: 1;
    padding: 10px 0;
}

.modal .type-chat{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 145px;
    position: absolute;
    bottom: 56px;
    left: 0;
    right: 0;
    background-color: var(--background-color-verylightgray);
}

.modal .main-tool-area{
    flex: 1;
    padding: 5px 5px 0 5px;
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.modal .sub-tool-area{
   
}

.sub-tool-area i{
    margin: 0 10px;
}

.sub-tool-area i:hover{
    color: var(--color-vividblue);
}

.modal .input-content-chat{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    order: 2;
}

.modal .input-chat{
    resize: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 0px 30px 5px var(--background-shadow-color-black-alpha30);
}

.modal .send-chat{
    margin-left: 10px;
    padding: 10px;
    font-size: 20px;
    
}

.modal .send-chat:hover{
    color: #fff;
    text-shadow: 0 0 6px var(--color-text-shadow);
}

/* Modal overlay 2 */
.modal-second {
    position:fixed;
    top: 10%;
    margin-right: 2px;
    z-index:100;
    transition: transform ease-in-out 0.4s;
    transform: translateX(-100%)
}

.modal-second .modal-container-second{
    width: 331px;
    height: 331px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 10px 10px var(--background-shadow-color-black-alpha30);
}

.modal-second .title-account{
    padding: 10px;
    background-color: #bbe2f2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-account .avatar-user{
    flex: 1;
    padding: 0 5px;
}

.title-account .avatar-user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-account .username{
    flex: 1;
    font-size: 15px;
}

.modal-second .content-account{
    position: relative;
    display: flex;
    flex: 3;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    /* border-bottom: 1px solid #bbe2f2; */
}

.content-account .email-account, .notification-account{
    flex: 1;
    display: flex;
    flex-direction: row;
    font-size: 16px;
}

.content-account .email-account p, i{
    flex: 1;
    position: relative;
}

.content-account .number-email{
    position: relative;
}
.content-account .number-email:hover .email-box{
    transform: translateX(0);
}

.modal-second .email-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    left: -128px;
    top: 31px;
    width: 331px;
    height: 149px;
    padding: 10px 5px;
    transform: translateX(-100%);
    transition: transform ease-in-out 0.4s;
    border-top: 1px solid #bbe2f2;
    border-bottom: 1px solid #bbe2f2;
    color: #000;
    background-color: #F4F9F9;
}

.modal-second .email-box .email-row-1{
    display: flex;
    flex-direction: row;
    z-index: 10;
}

.email-box .img-email-box{
    flex: 1;
}

.email-box .img-email-box img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.email-box .main-user-other{
    flex: 4;
    border-bottom: 1px solid #bbe2f2;
}

.email-box .user-other{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px 0;
}

.email-box .user-other-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px 0;
}

.email-box .user-other-content p{
    flex: 3;
}


.modal-second .email-box::after{
    content: "";
    position: absolute;
    top: -14px;
    right: 179px;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #F4F9F9;
    transform: scale(0.707) rotate(-45deg);
    /* border-top-right-radius: 5px; */
    box-shadow: 1px -1px #bbe2f2;
    z-index: 1;
    
}

.email-account .number-email{
    position: absolute;
    top: 6px;
    right: 18px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0 2px;
    color: #fff;
    text-align: center;
    background-color: #28A745;
}

.content-account .notification-account p, i{
    flex: 1;
    position: relative;
}

.content-account .number-noti{
    position: relative;
}
.content-account .number-noti:hover .noti-box{
    transform: translateX(0);
}

.modal-second .noti-box{
    position: absolute;
    display: block;
    left: -283px;
    top: 31px;
    width: 331px;
    height: 149px;
    padding: 5px;
    transform: translateX(-100%);
    transition: transform ease-in-out 0.4s;
    border-top: 1px solid #bbe2f2;
    border-bottom: 1px solid #bbe2f2;
    background-color: #F4F9F9;
}

.modal-second .noti-box::after{
    content: "";
    position: absolute;
    top: -14px;
    right: 23px;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #F4F9F9;
    transform: scale(0.707) rotate(-45deg);
    /* border-top-right-radius: 5px; */
    box-shadow: 1px -1px #bbe2f2;
    z-index: 1;
    
}

.notification-account .number-noti{
    position: absolute;
    top: 6px;
    right: 18px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0 2px;
    color: #fff;
    text-align: center;
    background-color: #FD6A6D;
}

.modal-second .info-account{
    flex: 1;
    position: relative;
}

.info-account .info-account-content{
    width: 100%;
    height: auto;
    padding: 20px;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateX(calc(-100%));
    transition: transform linear .3s;
    transform-origin: bottom center;
    background-color: #bbe2f2;
    overflow: hidden;
}

.info-account:hover .info-account-content{
    transform: translateX(0);
}

.info-account .user-info{
    flex: 1;
}

.info-account .logout-account{
    flex: 1;
}


/* Phần chức năng khác */
/* Phần Top Header */
#top-header-btn{
    position: fixed;
    right: 2%;
    bottom: 15px;
    color: #bbe2f2;
    font-size: 60px;
}

/* Phần chat box */
#chat-box-btn{
    position: fixed;
    cursor: pointer;
    right: 2%;
    bottom: 13%;
    color: #bbe2f2;
    font-size: 45px;
}

#forum{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#forum .forum-section{
    width: 1200px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #bbe2f2;
    background-color: var(--background-color-white);
    box-shadow: 0 10px 10px var(--background-shadow-color-black-alpha30);
}

#forum .breadcrumb-menu{
    width: 100%;
    height: 50px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
    overflow: hidden;
    border: 1px solid #bbe2f2;
}

#forum .breadcrumb-menu a{
    width: 25%;
    position: relative;
    display: flex;
    background-color: rgb(212,216,217);
    justify-content: center;
}

#forum .breadcrumb-menu a:first-child{
    padding-left: 20px;
}

#forum .breadcrumb-menu a:last-child{
    width: 75%;
    color: var(--color-brightviolet);
    padding-right: 20px;
    justify-content: flex-end;
}

#forum .breadcrumb-menu a::after{
    content: "";
	position: absolute;
    top: 0;
    right: -26px;
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: rgb(212,216,217);
    transform: scale(0.707) rotate(45deg);
    border-top-right-radius: 5px;
    box-shadow: 1px -1px rgba(0,0,0,0.25);
    z-index: 1;
}

#forum .breadcrumb-menu a:last-child::after{
    content:none;
}

#forum .breadcrumb-menu a:hover:not(:last-child){
    box-shadow: 1px -1px var(--background-shadow-color-black-alpha30);
    color: var(--color-white);
    background: rgb(175,231,254);
}



#forum .breadcrumb-menu a:hover::after{
    box-shadow: 1px -1px var(--background-shadow-color-black-alpha30);
    color: var(--color-white);
    background: rgb(175,231,254);
}

#forum .breadcrumb-menu .breadcrumb-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#forum .breadcrumb-menu .breadcrumb-title{
    padding-top: 5px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#forum .title-forum{
    display: flex;
    border-radius: 5px 5px 0 0;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    flex-direction: row;
    background-image: linear-gradient(to right, rgb(212,216,217), rgb(181,229,248));
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    border-left: 1px solid #bbe2f2;
    margin-bottom: 10px;
}

#forum .content-forum{
    display: flex;
    flex-direction: row;
    border-radius: 0 0 5px 5px;
}

#forum .content-forum .main-content{
    flex: 3;
    width: 100%;
    height: auto;
    border: 1px solid #bbe2f2;
    background-color: rgb(233,233,233);
}

#forum .title-topic{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #bbe2f2;
}

#forum .body-topic{
    margin-top: 10px;
    width: 100%;
    height: 250px;
}

#forum .content-forum .sub-content{
    flex: 1;
    width: 100%;
    height: auto;
    margin-left: 10px;
    border: 1px solid #bbe2f2;
    background-color: rgb(233,233,233);
}













#footer{
    height: auto;
    display: flex;
    justify-content: center;
    background-color: var(--background-color-green-moss);
}

#footer #footer-section{
    width: 1400px;
    height: auto;
    display: flex;
    flex-direction: row;
    color: #fff;
}

#footer #about{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#footer #about .title-logo{
    padding: 10px;
    text-align: center;
    letter-spacing: 2px;
}

#footer #about .social-bar{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

#footer .social-bar #social-bar-1,
#social-bar-2,
#social-bar-3,
#social-bar-4{
    position: relative;
    margin: 10px 0;
    border-radius: 80px 25px 25px 80px;
    transition: ease-in-out 0.4s;
    width: 100px;

}

#footer .social-bar #social-bar-1{
    background-color: #0773eb;
}

#social-bar-1 .facebook-about{
   
    background-color: red;
}

#footer .social-bar #social-bar-2{
    background-color: #55A9E0;
}

#footer .social-bar #social-bar-3{
    background-color: #0773eb;
}

#footer .social-bar #social-bar-4{
    background-color: #0773eb;
}



#footer #social-bar-1 #icon-rotate-js1,
#icon-rotate-js2,
#icon-rotate-js3,
#icon-rotate-js4{
    font-size: 40px;
    transform: rotate(360deg);
    transition: transform ease-in-out 0.4s;
}

/* #footer #social-bar-1 i:hover {
    transform: rotate(0deg);
}

#footer #social-bar-1:hover{
    width: 400px;
} */

#footer #other-link{
    flex: 1;
}

#footer #function-website{
    flex: 1;
}  


/* Import font family */
@font-face {
    font-family:font_honkai;
    src:url('../fonts/otfs/Poppins-Thin.otf') format('opentype');
    font-weight:normal;
    font-style:normal;
   }
/* Transition property */
/* Fade in tabs */
@-webkit-keyframes fadeEffect{
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeEffect{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes modalFadein{
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(75%);
    }
}

@keyframes modalFadeout{
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(0);
    }
}
