/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
*/

/* 
1. Vị trí 
2. Kích thước (width, height)
3. Màu sắc 
4. Kiểu dáng (Kiểu chữ, hình tròn, vuông,...)

*/
/* Reset CSS */

#main{
    overflow:hidden;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    font-size: 15px;
}

.clear{
    clear: both; 
}

.text-white{
    color: #fff !important;
    font-size: 40px;
}

.yellow-text{
    color: rgba(255, 245, 0, 1) !important;
}

a{
    text-decoration: none !important;
    color: inherit;
}

h3{
    font-family: "Georgia", serif;
    font-weight: 600;
}

/* Khi sử dụng float thì thẻ cha sẽ không ôm được những thẻ con */
/* lúc này ta sử dụng CSS selecter clear để fix và đặt thẻ dưới cuối thẻ cha */
.clear{
    clear: both; 
}

/* Tạo Css cho header */

#header{
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #1c1e21;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav li{
    display: inline-block;
    position: relative;
}

#nav .nav-slipt{
    width: 2px;
    height: 36px;
    background-color: #fff;
    margin: 0 10px 0 10px;
}

#nav li a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    line-height: 56px;
    padding: 0 20px;
}

#nav li:hover{
    background-color: rgb(158, 155, 155);
    border-radius: 4px;
}

#nav li:hover a{
    color: #000;
}

/* Phần slider */
#intro{
    margin-top: 56px;
    padding-top: 50%;
    background: 
        url('../img/slider3.png') top center / cover no-repeat,
        url('../img/slider2.png') top center / cover no-repeat,
        url('../img/slider1.png') top center / cover no-repeat;
    background-color: rgb(158, 155, 155,0.5);
    display: flex;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
}

#intro .arrow-slider-left{
    position: absolute;
    left: 0;
    top: 40%;
    border-radius: 0 10px 10px 0;
    padding: 40px 20px;
    background-color: rgba(7, 115, 235, 0.5);
}

#intro .arrow-slider-right{
    position: absolute;
    right: 0;
    top: 40%;
    border-radius: 10px 0px 0 10px;
    padding: 40px 20px;
    background-color: rgba(7, 115, 235, 0.5);
}

#intro .heading-intro{
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;

    position: absolute;
    top: 0;
    bottom: 0;

    /* Cách cho content vô giữa */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.heading-intro .search-intro{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    background-color: rgba(43, 41, 41, 0.7);
}

.search-intro .input-search{
    margin-left: 20px;
    margin-right: 10px;
    height: 40px;
    width: 600px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid #ccc;
}

.heading-intro .search-intro-slipt{
    width: 2px;
    height: 40px;
    background-color: #fff;
    margin: 0 10px 0 10px;
}

.heading-intro .btn-search{
    width: 200px;
    height: 40px;
    margin-left: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(7, 115, 235);
}

.heading-intro a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}



#intro .slipt-intro{
    width: 100%;
    height:  2px;
    margin: 10px;
    background-color: #ccc;
}

/* Phần Content */

#content{
    background-color: #EFF1F5;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content .content-section{
    width: 1200px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 5px;
    direction: column;
    background-color: #fff; /* #0674ec; */
}

.content-section .tab-new-content{
    display: flex;
    border-bottom: 1px solid #ccc;
}

.tab-new-content button{
    background-color: transparent;
    border: none;
    color: #000;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
}

.tab-new-content button:hover{
    cursor: pointer;
}

.tab-new-content button.active{
    color: #0674ec;
}

.tab-new-content button.active a{
    opacity: 1;
    visibility: visible;
}

.tab-new-content a{
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #0674ec;
    visibility: hidden;
}

.tabcontent{
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

#valkyrie .content-wrap{
    display: flex;
}

#valkyrie .the-first-content{
    flex: 1;
    margin-top: 10px;
}


#valkyrie .the-second-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 20px;
}

.the-second-content .the-main-one{
    flex: 1;
    display: flex;
}

.the-second-content .the-main-one .the-sub-one{
    flex: 1;
    margin-right: 10px;
    margin-bottom: 10px;
}

.the-second-content .the-main-one .the-sub-two{
    flex: 1;
    margin-bottom: 10px;
}

.the-second-content .the-main-two{
    flex: 1;
    display: flex;
}

.the-second-content .the-main-two .the-sub-three{
    flex: 1;
    margin-right: 10px;
}

.the-second-content .the-main-two .the-sub-four{
    flex: 1;  
}

.the-first-content .img-vkr{
    width: 100%;
    padding-top: 100%;
    border-radius: 5px 5px 0 0;
    background: 
        url('../img/HOF.png') top center / cover no-repeat, 
        url('../img/background-vkr.jpg') top center / cover no-repeat;
}

.the-sub-one .img-vkr{
    width: 100%;
    padding-top: 100%;
    border-radius: 5px 5px 0 0;
    background-color: #595959;
    background: 
        url('../img/HOT.png') top center / cover no-repeat, 
        url('../img/background-vkr.jpg') center / cover no-repeat;
}

.the-sub-two .img-vkr{
    width: 100%;
    padding-top: 100%;
    border-radius: 5px 5px 0 0;
    background-color: #595959;
    background: 
        url('../img/HOS.png') top center / cover no-repeat, 
        url('../img/background-vkr.jpg') top center / cover no-repeat;
}

.the-sub-three .img-vkr{
    width: 100%;
    padding-top: 100%;
    border-radius: 5px 5px 0 0;
    background-color: #595959;
    background: 
        url('../img/HOR.png') top center / cover no-repeat, 
        url('../img/background-vkr.jpg') top center / cover no-repeat;
}

.the-sub-four .img-vkr{
    width: 100%;
    padding-top: 100%;
    border-radius: 5px 5px 0 0;
    background-color: #595959;
    background: 
        url('../img/selee2.png') top center / cover no-repeat, 
        url('../img/background-vkr.jpg') top center / cover no-repeat;
}

#valkyrie .the-third-content{
    flex: 1;
    justify-content: flex-end;
    display: flex;
}

#valkyrie .the-first-content:hover{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#valkyrie .the-sub-one:hover{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#valkyrie .the-sub-two:hover{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#valkyrie .the-sub-three:hover{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#valkyrie .the-sub-four:hover{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#valkyrie .body-new-valkyrie{
    padding: 10px;
}

#valkyrie .heading-new-valkyrie{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#valkyrie .time-new-valkyrie{
    opacity: 0.6;
    padding: 10px 0;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#valkyrie .rare-valkyrie{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
   
}

#valkyrie .desc-new-valkyrie{
    padding: 10px 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#stigma .content-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 808px;
    padding-top: 115px;
    padding-bottom: 10px;
    background-image: url(../img/background-new-stig.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#stigma .stigma-content{
    width: 450px;
    height: auto;
    margin-bottom: 12px;
    border-radius: 5px 5px 0 0;
    text-align: center;
    background-color: rgba(204,204,204,0.5)
}

#stigma .heading-new-stigma{
    margin-top: 20px;
}

#stigma .heading-sub-new-stigma{
    margin-top: 10px;
}

#stigma .rare-stigma{
    margin-top: 10px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

#stigma .img-stigma-content,
.position-stigma-content{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

#stigma .img-stigma:hover{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#weapon .content-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 808px;
    padding-top: 114px;
    padding-bottom: 10px;
    background-image: url(../img/background-new-stig.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#weapon .weapon-content{
    display: flex;
    flex-direction: row;
    width: 555px;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.weapon-content .the-first-main-weapon-content{
    flex: 1;
    justify-content: center;
    text-align: center;
    border: 1px solid #ccc;
}

.weapon-content .the-second-main-weapon-content{
    flex: 2;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}

.weapon-content .the-first-sub-weapon-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: #C6D0D5;
    border: 1px solid #ccc;
}

.weapon-content .name-weapon{
    padding: 20px 0;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.weapon-content .atk-weapon{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.weapon-content .atk-weapon .heading-atk-weapon{
    margin-bottom: 10px;
    font-weight: bold;
    
}

.weapon-content .crit-weapon{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.weapon-content .crit-weapon .heading-crit-weapon{
    margin-bottom: 10px;
    font-weight: bold;
}

.weapon-content .rarity-weapon{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.weapon-content .rarity-weapon .heading-rarity-weapon{
    margin-bottom: 10px;
    font-weight: bold;
}

.weapon-content .the-second-sub-weapon-content{
    padding: 5px;
    text-align: justify;
    line-height: 1.4;
}


#top-builder .content-wrap{
    width: 100%;
    height: 808px;
}

/* Modal overlay */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow:rgba(1, 1, 1, 0.4);
    /* Để cho toàn bộ modal nằm giữa thì ta sử dụng thuộc tính flexbox */
    display: none;
}

.open{
    display: flex;
}

/* Build Chat box */
.modal .modal-container{
    position: fixed;
    height: 100%;
    width: 331px;
    right: 0;
    top: 56px;
    bottom: 0;
    background-color: #fff;
    z-index: 1000;
}

.modal .title-heading-chatbox{
    padding: 10px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #0674EC;
    border-bottom: 1px solid #ccc;
    box-shadow:rgba(0, 0, 0, 0.4);
}

.modal .close-btn{
    cursor: pointer;
}

.modal .chatbox-wrap{
    overflow: scroll;
    position: absolute;
    top: 49px;
    bottom: 184px;
    left: 0;
    right: 0;
}

.modal .chat-box-area{
    padding: 5px 5px;
    display: flex;
    flex-direction: row;
}

.modal .avatar-user{
    flex: 1;
    padding: 0 5px;
}

.modal .avatar-user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.modal .chat-content{
    flex: 5;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #EFF1F5;
}

.modal .user-contain{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.modal .chat-content .username{
    color: #fff;
    text-shadow: 0 0 6px #3193FD;
    font-weight: bold;
}

.modal .chat-content .timezone{
    font-size: 12px;
}

.modal .display-chat{
    font-family: 'Times New Roman', Times, serif;
    flex: 1;
    padding: 10px 0;
}

.modal .type-chat{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 145px;
    position: absolute;
    bottom: 56px;
    left: 0;
    right: 0;
    background-color: #EFF1F5;;
}

.modal .main-tool-area{
    flex: 1;
    padding: 5px 5px 0 5px;
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.modal .sub-tool-area{
   
}

.sub-tool-area i{
    margin: 0 10px;
}

.sub-tool-area i:hover{
    color: #3193FD;
}

.modal .input-content-chat{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    order: 2;
}

.modal .input-chat{
    resize: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 0px 30px 5px #ccc;
}

.modal .send-chat{
    margin-left: 10px;
    padding: 10px;
    font-size: 20px;
    
}

.modal .send-chat:hover{
    color: #fff;
    text-shadow: 0 0 6px #3193FD;
}

/* Phần chức năng khác */
/* Phần Top Header */
#top-header-btn{
    position: fixed;
    right: 2%;
    bottom: 20px;
    color: #0674EC;
    font-size: 40px;
}

/* Phần chat box */
#chat-box-btn{
    position: fixed;
    cursor: pointer;
    right: 2%;
    bottom: 50%;
    color: #0674EC;
    font-size: 40px;
}

#footer{
    width: 100%;
    height: 200px;
    background-color: #1c272d;
}


/* Transition property */
/* Fade in tabs */
@-webkit-keyframes fadeEffect{
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeEffect{
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Responsive devices */
/* PC: >= 1024px */
@media (min-width: 1024px){

}

/* Tablets: >= 740px & < 1024px */
@media (min-width: 740px) and (max-width: 1023px){

}

/* Mobile: < 740px */
@media (max-width: 739px){

}
